{% extends 'ilya_rest/wrapper.html' %}
{% block content %}
<div>
  <br>
  <br>
  <br>
  <br>
</div>
<div class="w-25 p-3">
<form method="post" action="/login/">
  {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Login</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="username">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Enter</button>
</form>
</div>

{% if user.is_authenticated %}
<a href="/logout">{{user.username}}, Выход</a>
{% else %}
<a href="/registration">Регистрация</a>
{% endif %}

{% if error %}
{{error}}
{% endif %}
{% endblock %}