<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>	
</head>
<body>

{% verbatim %}

<div class="container", id="orders_app">
	
	<div class="btn btn-success btn-lg" v-for="order in orders">
		Name: {{ order.dish_name }}
		<br>
		Price: {{ order.price }}
		<br>
		Drscription: {{ order.description }}
	</div>

</div>

{% endverbatim %}

<script src="/static/app.js"></script>	
</body>
</html>